/******************************
・画面上部の案内文言
******************************/
.header {
    font-size: normal;
    text-align: center;
}

/******************************
・入力フォーム
******************************/
label {
    font-size: small;
}

input {
    width: 100%;
    line-height: 2;
}

/******************************
 ・画面遷移ボタン
******************************/
button {
    color: white;
    background: #b0d600;

    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
    padding: 2px 5px;
}
