/******************************
・基本設定
    ボックスレイアウト設定
    画面サイズに合わせた表示幅の設定
    UserAgentStylesheetによるmargin設定の初期化
******************************/
* {
    box-sizing: border-box;
}

body {
    width: 500px;
    max-width: 100%;
    margin: 0;
}

/******************************
・BODY全体の表示設定
******************************/
.contents {
    width: 95%;
    margin: 10px auto;
}

/******************************
・画面見出し
******************************/
h1 {
    font-size: large;
    font-weight: normal;
    text-align: center;
    color: #005000;
}

/******************************
・エラーメッセージ
******************************/
.error_message {
    padding: 4px 4px;
    margin: 5px 5px;
    font-size: medium;
    text-align: left;
    color: #ff0000;
    border: dotted 1px #ff0000;
}