* {
    box-sizing: border-box;
}

body {
    width: 500px;
    max-width: 100%;
    margin: 0;
}

.display_area {
    width: 95%;
    margin: 10px auto;
}

.complete_info {
    padding: 4px 12px;
    font-size: medium;
    border: solid 1px #000000;
}

.complete_info p {
    text-align: center;
    color: #005000;
}

.rsv_info {
    width: 100%;
    text-align: left;
}

.rsv_info th{
    width: 35%;
}

.rsv_info td {
    font-weight: bold;
}

.message {
    font-size: 90%;
    line-height: 2;
}

.taxi_info {
    font-size: 80%;
    width: 100%;
}

.taxi_info th {
    font-weight :normal;
    text-align: left;
    width: 30%;
}

button {
    color: white;
    background: #b0d600;

    width: 45%;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
    padding: 2px 5px;
}

.left_button {
    float: left;
}

.right_button {
    float: right;
}
