/******************************
・外枠
******************************/
.display_box {
    padding: 8px 12px 16px;
    font-size: medium;
    border: solid 1px #000000;
}

.header {
    font-size: large;
    text-align: center;
    color: #005000;
}

/******************************
・予約情報表示
******************************/
.rsv_info {
    width: 100%;
    text-align: left;
}

.rsv_info th{
    width: 35%;
}

.rsv_info td {
    font-weight: bold;
}

/******************************
・完了文言表示
******************************/
.message {
    font-size: 90%;
    line-height: 2;
}

/******************************
・タクシー情報表示
******************************/
.taxi_info {
    font-size: 80%;
    width: 100%;
}

.taxi_info th {
    font-weight :normal;
    text-align: left;
    width: 30%;
}

/******************************
・画面遷移ボタン
******************************/
button {
    color: white;
    background: #b0d600;

    width: 45%;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
    padding: 2px 5px;
}

.right_button {
    float: right;
}
