/******************************
・外枠
******************************/
.display_box {
    padding: 8px 12px 16px;
    font-size: medium;
    border: solid 1px #000000;
}

/******************************
・画面見出し
******************************/
h1 {
    font-size: large;
    text-align: center;
    color: #005000;
}

/******************************
・詳細情報表示テーブル
******************************/
.rsvInfo {
    width: 100%;
    table-layout: fixed;
}

.rsvInfo th {
    width: 40%;
    text-align: left;
    padding: 1px 2px;
    font-weight: normal;
}

.rsvInfo td {
    text-align: left;
    padding: 1px 2px;
}

/******************************
・画面遷移ボタン
******************************/
button {
    width: 45%;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
    padding: 2px;
}

.left_button {
    color: #b0d600;
    background: white;
}

.right_button {
    color: white;
    background: #b0d600;
    float: right;
}