table {
  width: auto;
  border-spacing: 0;
  font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  font-size:14px;
  padding: 3px 5px;
  text-align: center;
}

input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 1px;
  margin: 3px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
}
input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

select{
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 3px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 3px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  resize: vertical;
}