* {
    box-sizing: border-box;
}

body {
    width: 500px;
    max-width: 100%;
    margin: 0;
}

.rsvInfoCard {
    width: 95%;
    margin: 12px auto;
    border: 1px solid;
    font-size: medium;
    padding: 4px 12px;
}

.rsvInfoCard table{
    table-layout: fixed;
}

.rsvInfoCard th,td {
    text-align: left;
    padding: 2px 5px;
}

.rsvInfoCard th {
    width: 40%;
    font-weight: normal;
}

.rsvId th, .rsvId td{
    font-weight: bold;
}