/******************************
・予約毎の表示
******************************/
.rsvInfoCard {
    width: 80%;
    margin: 12px auto;
    border: 1px solid;
    font-size: medium;
    padding: 8px 16px;
    box-shadow: 6px 6px #668AD8;
}

.rsvInfoCard table{
    width: 100%;
    table-layout: fixed;
}

.rsvInfoCard th,td {
    text-align: left;
    padding: 2px 5px;
}

.rsvInfoCard th {
    width: 40%;
    font-weight: normal;
}

.rsvId th, .rsvId td{
    font-weight: bold;
    text-decoration: underline;
}
