/******************************
・固定文言
******************************/
p {
    font-size: medium;
    text-align: center;
}

.mandatory {
    text-align: right;
    font-size: small;
}

/******************************
・必須項目案内用アスタリスク
******************************/
.redAsterisk {
    color: red;
}

/******************************
・入力フォーム（項目名）
******************************/
label {
    display:block;
    font-size: small;
}

/******************************
・入力フォーム（入力欄）
******************************/
select, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

select, input{
    height: 32px;
}

textarea {
    line-height: 1.75;
}

/******************************
・画面遷移ボタン
******************************/
button {
    width: 45%;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
    padding: 2px 5px;
}

.left_button {
    color: #b0d600;
    background: white;
    float: left;
}

.right_button {
    color: white;
    background: #b0d600;
    float: right;
}