<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>予約詳細</title>
    <link th:href="@{/css/detail.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>予約詳細</h1>
        <p th:text="${errorMessage}"></p>
        <!-- TODO ReservationInformationへのobject変換が上手くいかない問題を解決する -->
        <form role="form" th:action="@{/reservation/list}" method="post" th:object="${rsvForm}">
            <table>
                <thead>
                <tr>
                    <th>予約番号</th><!-- 予約番号は変更不可 -->
                    <td><input type="text" readonly="readonly" th:field="*{reservationId}"/></td>
                </tr>
                <tr>
                    <th>ステータス</th>
                    <td><select th:field="*{statusName}">
                        <!-- ステータスは選択可能なもののみをリストで受け取り表示する -->
                        <option th:each="status : ${statusList}" th:value="${status}" th:text="${status}"
                                th:selected="${rsvForm.statusName == status}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th>日付</th>
                    <td><input type="date" th:field="*{rideOnDate}" required/></td>
                </tr>
                <tr>
                    <th>乗車時間</th>
                    <td>
                        <input type="time" th:field="*{rideOnTime}" required/></td>
                </tr>
                <tr>
                    <th>大人</th>
                    <td><select th:field="*{adult}">
                        <option th:each="i : ${paxRange}" th:value="${i}" th:text="${i}"
                                th:selected="${i == rsvForm.adult}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th>子供</th>
                    <td><select th:field="*{child}">
                        <option th:each="i : ${paxRange}" th:value="${i}" th:text="${i}"
                                th:selected="${i == rsvForm.child}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th>台数</th>
                    <td><input type="number" th:field="*{carDispatchNumber}" required/></td>
                </tr>
                <tr>
                    <th>目的地</th>
                    <td><input type="text" th:field="*{destination}" required/></td>
                </tr>
                <tr>
                    <th>名前</th>
                    <td><input type="text" th:field="*{passengerName}" required/></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td><input type="text" th:field="*{passengerPhonetic}" required/></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><input type="text" th:field="*{passengerContact}" required/></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><input type="text" th:field="*{passengerMail}" required/></td>
                </tr>
                <tr>
                    <th>利用者コメント</th>
                    <td><textarea th:field="*{comment}"></textarea></td>
                </tr>
                <tr>
                    <th>車両番号</th>
                    <td><input type="text" th:field="*{carNumber}"/></td>
                    <!-- 連絡先 -->
                    <input type="hidden" th:field="*{carContact}"/>
                </tr>
                <tr>
                    <th>ご案内事項</th>
                    <td><textarea th:field="*{notice}"></textarea></td>
                </tr>
            </table>
            <input type="submit" class="raised" value="更新する"/>
            <input type="hidden" th:field="*{lastUpdate}"/>
        </form>
    </div>
</section>
</body>
</html>