<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>予約一覧</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/list.css}" rel="stylesheet"/>
</head>
<body>

<section layout:fragment="content">
    <div class="content">
        <h1>予約一覧</h1>
        <hr noshade/>
        <p th:text="${errorMessage}"></p>

        <form name="searchForm" th:action="@{/reservation/search}" method="post" th:object="${searchForm}">
            <div onclick="searchAreaClicked()">
                <a>▼ 検索エリア</a>
            </div>

            <div id="search_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-3">
                            <div class="search_input1">
                                <p>■予約番号</p>
                                <input type="text" th:field="*{reservationId}"/>
                                <p>■ステータス</p>
                                <th:block th:each="statusName:${statusList}">
                                    <p><input type="checkbox" th:field="*{reservationStatus}" th:value="${statusName}"
                                           th:text="${statusName}"/></p>
                                </th:block>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="search_input2">
                                <p>■電話番号</p>
                                <input type="tel" th:field="*{passengerContact}"/>
                                <p>■氏名</p>
                                <input type="text" th:field="*{passengerName}"/>
                                <p>■フリガナ</p>
                                <input type="text" th:field="*{passengerPhonetic}"/>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>

            <input type="submit" value="検索する"><br>
            <button type="button" onclick="updateList()">更新する</button>
        </form>

        <br>

        <table rules="rows">
            <tr>
                <th>予約番号</th>
                <th>乗車日</th>
                <th>乗車時間</th>
                <th>ステータス</th>
                <th>乗車人数(大人)</th>
                <th>乗車人数(子供)</th>
                <th>配車台数</th>
            </tr>
            <tr th:each="rsvForm :${rsvFormList}" th:attr="onclick='getDetail(\'' + ${rsvForm.reservationId} +'\');'">
                <td id="reservationId" th:text="${rsvForm.reservationId}"></td>
                <td th:text="${rsvForm.rideOnDate}"></td>
                <td th:text="${rsvForm.rideOnTime}"></td>
                <td th:text="${rsvForm.statusName}"></td>
                <td th:text="${rsvForm.adult}"></td>
                <td th:text="${rsvForm.child}"></td>
                <td th:text="${rsvForm.carDispatchNumber}"></td>
                <form th:attr="id='listForm' + ${rsvForm.reservationId}" th:action="@{/reservation/detail}"
                      method="get">
                    <input th:type="hidden" th:name="reservationId" th:value="${rsvForm.reservationId}"/>
                </form>
            </tr>
        </table>
    </div>
</section>
<script type="text/javascript">
            /** 詳細表示
             * TODO action="/reservation/detail" method="get" param="reservationId=<ID>"
             * /

             /** ポーリング
             *  TODO action="/reservation/update" method="get"にポーリングして更新情報があるかを取得する
             *  TODO 更新情報がある場合はUIを更新する
             */


</script>
</body>
</html>