<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title>予約詳細</title>
    <link th:href="@{/css/detail.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <h1>予約詳細</h1>
        <!-- TODO ユーザー操作によって編集モードへ切り替え機能を実装 -->
        <a class="raised">編集する</a>
        <!-- TODO ReservationInformationへのobject変換が上手くいかない問題を解決する -->
        <form role="form" th:action="@{/reservation/update}" method="post" th:object="${rsvInfo}">
            <table>
                <thead>
                <tr><!-- 予約番号は変更不可 -->
                    <th>予約番号</th>
                    <td><p th:field="*{id}" th:value="*{id}" th:text="*{id}"></p></td>
                </tr>
                <tr>
                    <th>ステータス</th>
                    <td><select th:field="*{status}">
                        <!-- TODO Stringのリストが無理だっため、直打ち th:eachが使える場合は置き換える -->
                        <option th:value="1" th:text="受付中" th:selected="${rsvInfo.status == 1}"></option>
                        <option th:value="2" th:text="予約確定" th:selected="${rsvInfo.status == 2}"></option>
                        <option th:value="3" th:text="配車中" th:selected="${rsvInfo.status == 3}"></option>
                        <option th:value="4" th:text="キャンセル済み" th:selected="${rsvInfo.status == 4}"></option>
                        <option th:value="5" th:text="確定" th:selected="${rsvInfo.status == 5}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th>日付</th>
                    <td><input type="date" th:field="*{date}"/></td>
                </tr>
                <tr>
                    <th>乗車時間</th>
                    <td>
                        <input type="time" th:field="*{time}"/></td>
                </tr>
                <tr>
                    <th>大人</th>
                    <td><select th:field="*{adult}">
                        <option th:each="i : ${paxRange}" th:value="${i}" th:text="${i}"
                                th:selected="${i == rsvInfo.adult}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th>子供</th>
                    <td><select th:field="*{child}">
                        <option th:each="i : ${paxRange}" th:value="${i}" th:text="${i}"
                                th:selected="${i == rsvInfo.child}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th>台数</th>
                    <td><input type="number" th:field="*{car_dispatch_number}"/></td>
                    <!-- 会社ID -->
                    <input type="hidden" th:field="*{companyId}"/>
                </tr>
                <tr>
                    <th>目的地</th>
                    <td><input type="text" th:field="*{destination}"/></td>
                </tr>
                <tr>
                    <th>名前</th>
                    <td><input type="text" th:field="*{passenger_name}"/></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td><input type="text" th:field="*{passenger_phonetic}"/></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><input type="text" th:field="*{phone}"/></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><input type="text" th:field="*{mail}"/></td>
                </tr>
                <tr>
                    <th>利用者コメント</th>
                    <td><textarea th:field="*{comment}"></textarea></td>
                </tr>
                <tr>
                    <th>車両番号</th>
                    <td><input type="text" th:field="*{car_number}"/></td>
                    <!-- 連絡先 -->
                    <input type="hidden" th:field="*{car_contact}"/>
                </tr>
                <tr>
                    <th>ご案内事項</th>
                    <td><textarea th:field="*{notice}"/></td>
                </tr>
            </table>
            <a class="raised" input type="submit">送信</a>
        </form>
    </div>
</section>
</body>
</html>