<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>予約詳細/予約変更</title>
</head>

<script language="javascript" type="text/javascript">
    function submit() {
        location.href = "./reservationList.html";
    }
</script>

<body>
<h1>予約詳細画面</h1>

<table>
    <tr>
        <th>予約番号</th>
        <th>ステータス</th>
        <th>日付</th>
        <th>時間</th>
        <th>大人</th>
        <th>子供</th>
        <th>台数</th>
        <th>会社名</th>
        <th>目的地</th>
        <th>名前</th>
        <th>フリガナ</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
        <th>利用者コメント</th>
        <th>車両番号</th>
        <th>タクシー連絡先</th>
        <th>ご案内事項</th>
    </tr>
    <tr th:each="obj:${dataList}">
        <td th:text="${obj.id}"></td>
        <td th:text="${status}"></td>
        <td th:text="${obj.date}"></td>
        <td th:text="${obj.time}"></td>
        <td th:text="${obj.adult}"></td>
        <td th:text="${obj.child}"></td>
        <td th:text="${obj.taxi_number}"></td>
        <td th:text="${companyName}"></td>
        <td th:text="${obj.destination}"></td>
        <td th:text="${obj.name}"></td>
        <td th:text="${obj.phonetic}"></td>
        <td th:text="${obj.phone}"></td>
        <td th:text="${obj.mail}"></td>
        <td th:text="${obj.comment}"></td>
        <td th:text="${obj.car_number}"></td>
        <td th:text="${obj.car_contact}"></td>
        <td th:text="${obj.notice}"></td>
    </tr>
</table>

<p>ステータス変更：
    <select name="afterStatus">
        <option value="0">受付中</option>
        <option value="1">予約確定</option>
        <option value="2">予約確定</option>
        <option value="3">配車中</option>
        <option value="4">キャンセル済み</option>
        <option value="5">完了</option>
    </select>
</p>
<p>お客様への連絡事項<br>
    <textarea cols="50" rows="5"></textarea>
</p>

<button type="button" onclick="submit()">確定</button>

</body>

</html>