<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>Confirm</title>
</head>
<body>
<header>
    <h1>Confirm</h1>
</header>
<form action="./rsvComplete" method="post" th:object="${reservationForm}">
    <div id="contents">
        <table>
            <tr>
                <th align="left"><label>Date</label></th>
                <td align="left" th:text="*{rideOnDateStr}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Time</label></th>
                <td align="left" th:text="*{rideOnTime}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Adult</label></th>
                <td align="left" th:text="*{adult}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Child</label></th>
                <td align="left" th:text="*{child}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Dispatch number</label></th>
                <td align="left" th:text="*{carDispatchNumber}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Taxi company</label></th>
                <td align="left" th:text="*{companyName}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Destination</label></th>
                <td align="left" th:text="*{destination}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Name</label></th>
                <td align="left" th:text="*{passengerName}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Phonetic</label></th>
                <td align="left" th:text="*{passengerPhonetic}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Contact number</label></th>
                <td align="left" th:text="*{passengerContact}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>E-mail</label></th>
                <td align="left" th:text="*{mail}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>Comment</label></th>
                <td align="left" th:text="*{comment}" style="width: device-width;"></td>
            </tr>
            <tr>
                <td align="left">
                    <button type="submit" formaction="./registration">Back</button>
                </td>
                <td align="left">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" th:field="*{rideOnDate}"/>
    <input type="hidden" th:field="*{rideOnTime}"/>
    <input type="hidden" th:field="*{adult}"/>
    <input type="hidden" th:field="*{child}"/>
    <input type="hidden" th:field="*{carDispatchNumber}"/>
    <input type="hidden" th:field="*{companyName}"/>
    <input type="hidden" th:field="*{destination}"/>
    <input type="hidden" th:field="*{passengerName}"/>
    <input type="hidden" th:field="*{passengerPhonetic}"/>
    <input type="hidden" th:field="*{passengerContact}"/>
    <input type="hidden" th:field="*{mail}"/>
    <input type="hidden" th:field="*{mailCheck}"/>
    <input type="hidden" th:field="*{comment}"/>
</form>
</body>
</html>