<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>予約変更画面</title>
    <link th:href="@{/css/inputForm.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <h1>予約変更</h1>
</header>

<form action="./changeComplete" method="post" th:object="${changeForm}">
    <div id="contents">
        <p>以下の項目を入力してください</p>
        <p style="color: red" th:text="${errorMassage}"></p>
        <table>
            <tr>
                <th align="left"><label>予約番号</label></th>
                <td align="left" th:text="*{id}"></td>
            </tr>
            <tr>
                <th align="left"><label>ステータス</label></th>
                <td align="left" th:text="*{reservationStatus}"></td>
            </tr>
            <tr>
                <th align="left"><label>乗車日</label></th>
                <td align="left"><input type="date" name="day" style="width: device-width;" th:field="*{rideOnDate}" required/></td>
            </tr>
            <tr>
                <th align="left"><label>乗車時間</label></th>
                <td align="left"><input type="time" name="time" style="width: device-width" th:field="*{rideOnTime}" step="300" max="23:59" required/></td>
            </tr>
            <tr>
                <th align="left"><label>人数(大人)</label></th>
                <td align="left"><input type="number" name="adlt" style="width: device-width" th:field="*{adult}" required/></td>
            </tr>
            <tr>
                <th align="left"><label>人数(子供)</label></th>
                <td align="left"><input type="number" name="chld" style="width: device-width" th:field="*{child}" required/></td>
            </tr>
            <tr>
                <th align="left"><label>配車台数</label></th>
                <td align="left"><input type="number" name="disp" style="width: device-width"
                                        th:field="*{carDispatchNumber}"/></td>
            </tr>
            <tr>
                <th align="left"><label>会社名</label></th>
                <td align="left" th:text="*{companyName}"></td>
            </tr>
            <tr>
                <th align="left"><label>目的地</label></th>
                <td align="left"><input type="text" name="dest" style="width: device-width" th:field="*{destination}" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>名前</label></th>
                <td  align="left"><input type="text" name="dest" style="width: device-width" th:field="*{passengerName}" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>フリガナ</label></th>
                <td align="left"><input type="text" name="dest" style="width: device-width" th:field="*{passengerPhonetic}" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>電話番号</label></th>
                <td align="left"><input type="tel" name="phone" style="width: device-width" th:field="*{passengerContact}" required/></td>
            </tr>
            <tr>
                <th align="left"><label>メールアドレス</label></th>
                <td align="left"><input type="email" style="width: device-width" th:field="*{mail}" required/>
            </tr>
            <tr>
                <th align="left"><label>メールアドレス(確認)</label></th>
                <td align="left"><input type="email" style="width: device-width" th:field="*{mailCheck}" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>コメント(任意)</label></th>
                <td align="left"><textarea th:field="*{comment}"
                                           placeholder="特別なご要望などがありましたらご入力ください"></textarea>
                </td>
            </tr>
            <tr>
                <th align="left"><label>車両番号</label></th>
                <td align="left" th:text="*{carNumber}"></td>
            </tr>
            <tr>
                <th align="left"><label>タクシー連絡先</label></th>
                <td align="left" th:text="*{carContact}"></td>
            </tr>
            <tr>
                <th align="left"><label>ご案内事項</label></th>
                <td align="left" th:text="*{notice}"></td>
            </tr>

            <tr>
                <td align="left">
                    <button type="reset" name="clearButton">クリア</button>
                </td>
                <td align="left">
                    <button type="submit" name="chkButton">入力確認</button>
                </td>
            </tr>
        </table>

        <input type="hidden" th:field="${changeForm.id}">
        <input type="hidden" th:field="${changeForm.reservationStatus}">
        <input type="hidden" th:field="${changeForm.companyName}">
        <input type="hidden" th:field="${changeForm.carNumber}">
        <input type="hidden" th:field="${changeForm.carContact}">
        <input type="hidden" th:field="${changeForm.notice}">
        <input type="hidden" th:field="${changeForm.lastUpdate}">
    </div>
</form>
</body>
</html>