<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title th:text="${title}"></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!--   <link rel="stylesheet" href="sample.css"> -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<div id="contents" th:object="${rsvDetail}">
    <table>
        <tr>
            <th align="right" th:text="*{passenger_name}" style="width: device-width;"></th>
            <th align="left"><label>様</label></th>
        </tr>
    </table>
    <p align="left" th:text="${headText}"></p>
    <table>
        <tr>
            <th align="left"><label>予約番号：</label></th>
            <td align="left" th:text="*{id}" style="width: device-width;"></td>
        </tr>
        <tr>
            <th align="left"><label>ステータス：</label></th>
            <td align="left" th:text="${statusText}" style="width: device-width;"></td>
        </tr>
    </table>

    <th:block th:if="${message}">
        <th:block th:each="str, stat : ${message.split('\r\n|\r|\n', -1)}">
            <th:block th:text="${str}"/>
            <br th:if="${!stat.last}"/>
        </th:block>
    </th:block>

    <table>
        <tr>
            <td align="left">
                <button type="button" onClick="location.href='./registration'">予約登録へ</button>
            </td>
            <td align="right">
                <button type="button" onClick="location.href='./list'">予約確認へ</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>