<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>そらガイド-タクシー予約確認</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/confirmation.css}" rel="stylesheet"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>
<header class="header">
    <h3>予約確認</h3>
</header>

<div class="container">
    <form th:action="@{./rsvComplete}" method="post" th:object="${reservationForm}">
        <div class="form-group">
            <label>予約日</label>
            <input type="date" th:field="*{rideOnDate}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>予約時刻</label>
            <input type="time" th:field="*{rideOnTime}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>人数(大人)</label>
            <input type="number" th:field="*{adult}" min="0" max="20" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>人数(子供)</label>
            <input type="number" th:field="*{child}" min="0" max="20" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>配車台数</label>
            <input type="number" th:field="*{carDispatchNumber}" min="1" max="20" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>タクシー会社</label>
            <input type="text" th:field="*{companyName}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>目的地</label>
            <input type="text" th:field="*{destination}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>氏名(ローマ字)</label>
            <input type="text" th:field="*{passengerName}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>電話番号</label>
            <input type="tel" th:field="*{passengerContact}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>メールアドレス</label>
            <input type="email" th:field="*{mail}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label>メールアドレス</label>
            <input type="email" th:field="*{mailCheck}" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <label></label>
            <textarea th:field="*{comment}" class="form-control" readonly></textarea>
        </div>

        <button type="button" class="left_button" onClick="location.href='./registration'">修正する</button>
        <button type="submit" class="right_button">確定する</button>
    </form>
</div>
<!--
<div class="contents" th:object="${reservationForm}">
    <div class="display_box">
        <h1>予約確認</h1>

        <table class="rsvInfo">
            <tr>
                <th>乗車日</th>
                <td th:text="*{rideOnDateStr}"></td>
            </tr>
            <tr>
                <th>乗車時間</th>
                <td th:text="*{rideOnTime}"></td>
            </tr>
            <tr>
                <th>人数(大人)</th>
                <td th:text="*{adult + ' 人'}"></td>
            </tr>
            <tr>
                <th>人数(子供)</th>
                <td th:text="*{child + ' 人'}"></td>
            </tr>
            <tr>
                <th>配車台数</th>
                <td th:text="*{carDispatchNumber + ' 台'}"></td>
            </tr>
            <tr>
                <th>タクシー会社</th>
                <td th:text="*{companyName}"></td>
            </tr>
            <tr>
                <th>目的地</th>
                <td th:text="*{destination}"></td>
            </tr>
            <tr>
                <th>氏名(カナ)</th>
                <td th:text="*{passengerName}"></td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td th:text="*{passengerContact}"></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td th:text="*{mail}"></td>
            </tr>
            <tr>
                <th>コメント</th>
                <td th:text="*{comment}"></td>
            </tr>
        </table>

    </div>

    <br/>

    <form th:action="@{./rsvComplete}" method="post" onsubmit="return checkDoubleSubmit();">
        <button class="left_button" type="submit" th:formaction="@{./registration}">戻る</button>
        <button class="right_button" id="btnSubmit" type="submit">送信</button>

        <input type="hidden" th:field="*{rideOnDate}"/>
        <input type="hidden" th:field="*{rideOnTime}"/>
        <input type="hidden" th:field="*{adult}"/>
        <input type="hidden" th:field="*{child}"/>
        <input type="hidden" th:field="*{carDispatchNumber}"/>
        <input type="hidden" th:field="*{companyName}"/>
        <input type="hidden" th:field="*{destination}"/>
        <input type="hidden" th:field="*{passengerName}"/>
        <input type="hidden" th:field="*{passengerContact}"/>
        <input type="hidden" th:field="*{mail}"/>
        <input type="hidden" th:field="*{mailCheck}"/>
        <input type="hidden" th:field="*{comment}"/>


    </form>
</div>
-->
</body>
</html>
<script>
function checkDoubleSubmit(){
  var obj = document.getElementById("btnSubmit");
  if(obj.disabled){
    //ボタンがdisabledならsubmitしない
    return false;
  }else{
    //ボタンがdisabledでなければ、ボタンをdisabledにした上でsubmitする
    obj.disabled = true;
    return true;
  }
}
</script>