<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>予約確認画面</title>
</head>
<body>
<header>
    <h1>予約確認</h1>
    <!--  <p>以下の項目を入力してください</p> -->
</header>
<form action="./rsvComplete" method="post" th:object="${reservationForm}">
    <div id="contents">
        <table>
            <tr>
                <th align="left"><label>乗車日</label></th>
                <td align="left" th:text="*{date}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>乗車時間</label></th>
                <td align="left" th:text="*{time}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>人数(大人)</label></th>
                <td align="left" th:text="*{adult}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>人数(子供)</label></th>
                <td align="left" th:text="*{child}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>配車台数</label></th>
                <td align="left" th:text="*{car_dispatch}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>タクシー会社</label></th>
                <td align="left" th:text="*{company_name}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>目的地</label></th>
                <td align="left" th:text="*{destination}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>氏名</label></th>
                <td align="left" th:text="*{name}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>フリガナ</label></th>
                <td align="left" th:text="*{phonetic}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>電話番号</label></th>
                <td align="left" th:text="*{phone}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>メールアドレス</label></th>
                <td align="left" th:text="*{mail}" style="width: device-width;"></td>
            </tr>
            <tr>
                <th align="left"><label>コメント(任意)</label></th>
                <td align="left" th:text="*{comment}" style="width: device-width;"></td>
            </tr>
            <tr>
                <td align="left">
                    <button type="button" onclick="history.back()">戻る</button>
                </td>
                <td align="left">
                    <button type="submit" name="sendButton">送信</button>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="date" th:value="*{date}"/>
    <input type="hidden" name="time" th:value="*{time}"/>
    <input type="hidden" name="adult" th:value="*{adult}"/>
    <input type="hidden" name="child" th:value="*{child}"/>
    <input type="hidden" name="car_dispatch" th:value="*{car_dispatch}"/>
    <input type="hidden" name="company_name" th:value="*{company_name}"/>
    <input type="hidden" name="destination" th:value="*{destination}"/>
    <input type="hidden" name="name" th:value="*{name}"/>
    <input type="hidden" name="phonetic" th:value="*{phonetic}"/>
    <input type="hidden" name="phone" th:value="*{phone}"/>
    <input type="hidden" name="mail" th:value="*{mail}"/>
    <input type="hidden" name="comment" th:value="*{comment}"/>
</form>
</body>
</html>