<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>エラー</title>
</head>
<body>
<div class="content">
    <h1>エラー</h1>
</div>

<th:block th:if="${errorMassage}">
    <th:block th:each="str, stat : ${errorMassage.split('\r\n|\r|\n', -1)}">
        <th:block th:text="${str}"/>
        <br th:if="${!stat.last}"/>
    </th:block>
</th:block>

<br/><br/>

<th:block th:text="#{DBError}">

</th:block>

<th:block th:each="str, stat : #{DBError.split('\r\n|\r|\n', -1)}">
    <th:block th:text="${str}"/>
    <br th:if="${!stat.last}"/>
</th:block>

</body>

</html>