<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <link th:href="@{/css/tab.css}" rel="stylesheet"/>
    <title>予約一覧</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid;
            frame: hsides;
        }

        table:nth-child(odd) {
            background-color:  #ddd;
        }

        th,td {
            padding: 5px 10px;
        }

    </style>
</head>

<body>
<ul class="tabs">
    <li rel="tab1" onClick="location.href='./registration'">予約登録</li>
    <li class="active">予約一覧</li>
</ul>
<br/><br/>
<div th:if="${#lists.isEmpty(rsvList)}">
    表示可能な予約がありません。
</div>

<table th:each="rsvInfo :${rsvList}" th:attr="onclick='listClicked(\'' + ${rsvInfo.id} +'\');'">
    <tr>
        <th>予約番号</th>
        <td th:text="${rsvInfo.id}"></td>
    </tr>
    <tr>
        <th>乗車日</th>
        <td th:text="${rsvInfo.date}"></td>
    </tr>
    <tr>
        <th>乗車時間</th>
        <td th:text="${rsvInfo.time}"></td>
    </tr>
    <tr>
        <th>ステータス</th>
        <td th:text="${rsvInfo.status}"></td>
    </tr>
</table>

</body>

<script>
<!--
    function listClicked(id){
        //フォーム作成
        var form = document.createElement("form");
        form.setAttribute("action", "./detail");
        form.setAttribute("method", "post");
        form.style.display = "none";
        document.body.appendChild(form);

        //送信値
        var input = document.createElement('input');
        input.setAttribute('type',  'hidden');
        input.setAttribute('name', 'id');
        input.setAttribute('value', id);
        form.appendChild(input);

        form.submit();
    }
-->

</script>

</html>