<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>

<script language="javascript" type="text/javascript">
    function login() {
        location.href = "./reservationList.html";
    }
</script>

<body>
    <h1>ログイン画面</h1>

    <p>ID：
        <input type="text" name="loginId" size="15" maxlength="10">
    </p>
    <p>パスワード：
        <input type="password" name="password" size="15" maxlength="10">
    </p>

    <button type="button" onclick="login()">ログイン</button>
</body>

</html>

