<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <title>予約登録画面</title>
    <link th:href="@{/css/tab.css}" rel="stylesheet"/>
    <link th:href="@{/css/inputForm.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <ul th:if="${isTab}" class="tabs">
        <li class="active" rel="tab1" onClick="location.href='./registration'">予約登録</li>
        <li onClick="location.href='./list'">予約一覧</li>
    </ul>
    <h1 th:unless="${isTab}">予約登録</h1>
</header>
<form action="./confirmation" method="post" th:object="${reservationForm}">
    <div id="contents">
        <p>以下の項目を入力してください</p>
        <p style="color: red" th:text="${errorMassage}"></p>
        <table>
            <tr>
                <th align="left"><label>乗車日</label></th>
                <td align="left"><input type="date" style="width: device-width;" th:field="*{rideOnDate}" required/></td>
            </tr>
            <tr>
                <th align="left"><label>乗車時間</label></th>
                <td align="left"><input type="time" style="width: device-width" th:field="*{rideOnTime}" step="300"
                                        max="23:59" required/></td>
            </tr>
            <tr>
                <th align="left"><label>人数(大人)</label></th>
                <td align="left"><input type="number" style="width: device-width" th:field="*{adult}" min="0" required/></td>
            </tr>
            <tr>
                <th align="left"><label>人数(子供)</label></th>
                <td align="left"><input type="number" style="width: device-width" th:field="*{child}" min="0" required/></td>
            </tr>
            <tr>
                <th align="left"><label>配車台数</label></th>
                <td align="left"><input type="number" style="width: device-width" th:field="*{carDispatchNumber}" min="1" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>タクシー会社</label></th>
                <td>
                    <select id="singleSelect" th:field="*{companyName}">
                        <option value="">---</option>
                        <option th:each="item : ${taxiList}" th:value="${item}" th:text="${item}"
                                th:selected="${item}==*{companyName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th align="left"><label>目的地</label></th>
                <td align="left"><input type="text" style="width: device-width" th:field="*{destination}"
                                        placeholder="栗林公園" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>氏名</label></th>
                <td align="left"><input type="text" style="width: device-width" th:field="*{passengerName}" placeholder="大空旅人"
                                        required/></td>
            </tr>
            <tr>
                <th align="left"><label>フリガナ</label></th>
                <td align="left"><input type="text" style="width: device-width" th:field="*{passengerPhonetic}"
                                        placeholder="オオゾラタビト" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>電話番号</label></th>
                <td align="left"><input type="tel" style="width: device-width" th:field="*{passengerContact}"
                                        placeholder="08012345678" required/></td>
            </tr>
            <tr>
                <th align="left"><label>メールアドレス</label></th>
                <td align="left"><input type="email" style="width: device-width" th:field="*{mail}"
                                        placeholder="aaa@jal.co.jp" required/></td>
            </tr>
            <tr>
                <th align="left"><label>メールアドレス(確認)</label></th>
                <td align="left"><input type="email" style="width: device-width" th:field="*{mailCheck}" required/>
                </td>
            </tr>
            <tr>
                <th align="left"><label>コメント(任意)</label></th>
                <td align="left"><textarea th:field="*{comment}"
                                        placeholder="特別なご要望などがありましたらご入力ください"></textarea>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <button type="reset">クリア</button>
                </td>
                <td align="left">
                    <button type="submit">入力確認</button>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>