<p>ホーム</p>
<p>一覧</p>
<p>検索</p>
<p>設定</p>
<p>ログアウト</p>
    <!--
    <form role="form" id="home" th:action="@{/home}" method="post">
        <button type="submit">ホーム</button>
    </form>
    <form role="form" id="list" th:action="@{/list}" method="post">
        <button type="submit">予約一覧</button>
    </form>
    <form role="form" id="search" th:action="@{/search}" method="post">
        <button type="submit">予約検索</button>
    </form>
    <form role="form" id="setting" th:action="@{/setting}" method="post">
        <button type="submit">設定</button>
    </form>
    <form role="form" id="logout" th:action="@{/logout}" method="post">
        <button type="submit">ログアウト</button>
    </form>
    -->
