<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>そらガイド 予約管理-ログイン</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="box">
    <h1>そらガイド</h1>
    <h1>タクシー予約管理システム</h1>
    <form role="form" id="login" th:action="@{/login}" method="post">
        <div th:if="${isError}" style="color:red;">
            <p>ログインに失敗しました。</p>
            <p>ユーザーID、パスワードを確かめてください。</p>
        </div>
        <div th:if="${isSignup}">
            <p>ユーザーを登録しました。</p>
        </div>
        <div th:if="${isLogout}">
            <p>ログアウトしました。</p>
        </div>
        <input type="text" id="username" name="username" autofocus="autofocus" placeholder="ユーザー" />
        <br/>
        <input type="password" id="password" name="password" placeholder="パスワード" />
        <br/>
        <button type="submit">ログイン</button>
    </form>
</div>
</body>
</html>