<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>そらガイド 予約管理-ログイン</title>
    <link rel="stylesheet" type="text/css" href="https://yui-s.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="login">
    <div class="header">
        <h1>そらガイド</h1>
        <h1>タクシー予約管理システム</h1>
    </div>
    <form name='form-login' role="form" id="form-login" th:action="@{/login}" method="post">
        <p th:text="${message}" style="color: black"></p>
        <p th:text="${errorMessage}" style="color: red"></p>

        <span><i class="material-icons">perm_identity</i></span>
        <input type="text" name="username" autofocus="autofocus" placeholder="ユーザー"/>
        <br/>
        <span><i class="material-icons">lock</i></span>
        <input type="password" name="password" placeholder="パスワード"/>
        <br/>
        <input type="submit" value ="ログイン"/><br/>
        <div class="test">
            <a th:href="@{./reset}">パスワードをお忘れの方はこちら</a>
        </div>
    </form>
</div>
</body>
</html>