<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>そらガイド 予約管理-ログイン</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="login">
    <h1>そらガイド</h1>
    <h1>タクシー予約管理システム</h1>
    <form name='form-login' role="form" id="form-login" th:action="@{/login}" method="post">
        <p th:text="${message}" style="color: black"></p>
        <p th:text="${errorMessage}" style="color: red"></p>
        <!--
        <div th:if="${isError}" style="color:red;">
            <p>ログインに失敗しました。</p>
            <p>ユーザーID、パスワードを確かめてください。</p>
        </div>
        <div th:if="${isLogout}" style="color:black;">
            <p>ログアウトしました。</p>
        </div>
        -->
        <span class="fontawesome-user"></span>
        <input type="text" name="username" autofocus="autofocus" placeholder="ユーザー"/>
        <br/>
        <span class="fontawesome-lock"></span>
        <input type="password" name="password" placeholder="パスワード"/>
        <br/>
        <input type="submit" value ="ログイン"/><br/>
        <a href="/reset">パスワードをお忘れの方はこちら</a>
    </form>
</div>
</body>
</html>