<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>そらガイド 予約管理-パスワードリセット</title>
    <link rel="stylesheet" type="text/css" href="https://yui-s.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="login">
    <h1>パスワードリセット</h1>

    <form th:action="@{/reset}" method="post">
        <div style="color: red;">パスワードを初期化するユーザー名と所属会社のメールアドレスをご入力ください。</div>
        <p th:text="${errorMessage}" style="color: red"></p>

        <span><i class="material-icons">perm_identity</i></span>
        <input type="text" name="userName" autofocus="autofocus" placeholder="ユーザー" required/>
        <br/>
        <span><i class="material-icons">mail_outline</i></span>
        <input type="text" name="mail" placeholder="メールアドレス" required/>
        <br/>
        <input type="submit" value ="パスワードリセット"/>
        <br/>
        <div class="test">
            <a th:href="@{./login}">ログイン画面へ戻る</a>
        </div>
    </form>
</div>
</body>
</html>