<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>そらガイド 予約管理-パスワードリセット</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div id="login">
    <h1>そらガイド</h1>
    <h1>パスワードリセット</h1>

    パスワードを初期化するユーザ名と所属会社のメールアドレスをご入力ください。<br/>
    <form th:action="@{/reset}" method="post">

        <span class="fontawesome-user"></span>
        <input type="text" name="userName" autofocus="autofocus" placeholder="ユーザー" required/>
        <br/>
        <span class="fontawesome-lock"></span>
        <input type="text" name="mail" placeholder="メールアドレス" required/>
        <br/>

        <input type="submit" value ="パスワードリセット"/>
    </form>
</div>
</body>
</html>