<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <header th:fragment="leftNavigation">
            <form role="form" id="home" th:action="@{/home}" method="get">
                <button type="submit">ホーム</button>
            </form>
            <form role="form" id="list" th:action="@{/reservation/list}" method="get">
                <button type="submit">予約一覧</button>
            </form>
            <p>予約検索</p>
            <!--
            <form role="form" id="search" th:action="@{/reservation/search}" method="get">
                <button type="submit">予約検索</button>
            </form>-->
            <form role="form" id="companySetting" th:action="@{/company/setting}" method="get">
                <button type="submit">会社設定</button>
            </form>
            <form role="form" id="userSetting" th:action="@{/user/setting}" method="get">
                <button type="submit">ユーザー設定</button>
            </form>
            <form role="form" id="logout" th:action="@{/logout}" method="post">
                <button type="submit">ログアウト</button>
            </form>
        </header>
        <script type="text/javascript">
            // get Post処理を書く
        </script>
    </body>
</html>