<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <header th:fragment="leftNavigation">
            <ul>
                <form name="home" role="form" th:action="@{/home}" method="get">
                    <li>
                        <a href="javascript:document.home.submit()">ホーム</a>
                    </li>
                </form>
                <form name="list" 　role="form" th:action="@{/reservation/list}" method="get">
                    <li>
                        <a href="javascript:document.list.submit()">予約一覧</a>
                    </li>
                </form>
                <form name="search" role="form" id="search" th:action="@{/reservation/search}" method="get">
                    <li>
                        <a href="javascript:document.search.submit()">予約検索</a>
                    </li>
                </form>
                <form name~="companySetting" role="form" th:action="@{/company/setting}" method="get">
                    <li>
                        <a href="javascript:document.companySetting.submit()">会社設定</a>
                    </li>
                </form>
                <form name="userSetting" role="form" th:action="@{/user/setting}" method="get">
                    <li>
                        <a href="javascript:document.userSetting.submit()">ユーザー設定</a>
                    </li>
                </form>
                <form name="logout" role="form" th:action="@{/logout}" method="post">
                    <li>
                        <a href="javascript:document.logout.submit()">ログアウト</a>
                    </li>
                </form>
            </ul>
        </header>
        <script type="text/javascript">
            // get Post処理を書く


        </script>
    </body>
</html>